@navbar: #1F3093;
@nav-text: #FFFFFF;

nav {
	background:@navbar;
	color: @nav-text;

	a {
		display:block;
		color: @nav-text;
		font-family: Helvetica Neue, Helvetica;
		font-size: 18px;
		text-decoration:none;
	}

	.logo-title {
		font-family: Helvetica Neue, Helvetica;
		font-size: 26px;
	}

	.logo {
		background: url(/static/erp_app/img/logo.png);
		display:inline-block;
		width: 33px;
		height: 32px;
		margin-top:
	}

	.white {
		color: @nav-text;
		font-size: 24px;
	}

	
}
