{% extends "erp_app/base.html" %}
    
    {% block title %}Expenses – Open Source ERP{% endblock title %}
    {% block meta_description %}Description of Expenses for OSERP – the Open Source ERP{% endblock meta_description %}
    {% block meta_keywords %}expenses, accounting, open source, erp{% endblock meta_keywords %}

    {% block css %}<link rel="stylesheet" type="text/css" href="erp_app/static/erp_app/css/datepicker.css" />{% endblock css %}

    {% block content %}    		
        <section class="col-xs-10 main">
            <div class="main-content">
                
                <h2 class="main-title first">LEARN HOW TO USE OSERP</h2>
                
                <div class="glyphicon glyphicon-cog settings"></div>
                <div style="clear:both;"></div>
                <div class="learn-oserp">
                    <a><div class="box learn-customers"><span>CUSTOMERS</span></div></a>
                    <a><div class="box learn-orders"><span>ORDERS</span></div></a>
                    <a><div class="box learn-expenses"><span>EXPENSES</span></div></a>
                    <div style="clear:both;"></div>
                </div>

                <div>
					<h2 class="page-title pull-left second">RECENT EXPENSES</h2>
                    <a class="pull-right" data-toggle="modal" data-target="#expenses_modal"><span class="glyphicon glyphicon-plus white add-expense"></span></a>
					<div style="clear:both"></div>
                </div>

                <!-- Modal -->
                <form action="/expenses-update/" method="post" class="expense-form" role="form">{% csrf_token %}
                <div class="modal fade" id="expenses_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">ADD EXPENSE</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="expenseName">Expense Name</label>
                                    <input type="text" class="form-control" name="name" value="Expense Name">
                                    <label for="expenseDescription">Expense Description</label>
                                    <textarea name="description" class="form-control" rows="5" cols="30">Description of Expense</textarea>
                                    <label for="expenseDatePaid">Date Paid</label>
                                    <div class="row">
                                        <div class="input-append date">
                                            <div class="col-xs-3">
                                                <input type="text" name="date_paid" class="form-control">
                                            </div>
                                            <div class="col-xs-2">
                                                <span class="add-on btn btn-default btn-lg"><i class="icon-th glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <label for="expenseAmountPaid">Amount Paid</label>
                                    <input type="number" step="any" name="amount_paid" class="form-control" value="Amount Paid">
                                </div>
                             
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary submit">Save changes</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                </form>

                <table class="table table-hover table_expenses">
                    <thead>
					<tr>
						<th>Expense Name</th>
						<th>Description</th>
						<th>Date Paid</th>
						<th>Amount Paid</th>
					</tr>
                    </thead>
                    <tbody>
				    {% if empty_expenses == False %}	
						{% for expense in list_of_expenses %}
						<tr>
							<td>{{ expense.expense_name }}</td>
							<td>{{ expense.description }}</td>
							<td>{{ expense.date_paid }}</td>
							<td>{{ expense.amount_paid }}</td>
						</tr>
						{% endfor %}
					{% else %}
						<tr>
		                    <td> </td>
		                    <td> </td>
		                    <td> </td>
		                    <td> </td>
						</tr>
					{% endif %}
                    </tbody>
				</table>
			</div>
		</section>
    {% endblock content %}		

	{% block js %}
        <script src="erp_app/static/erp_app/js/bootstrap-datepicker.js"></script>
        <script>
            $('.input-append.date').datepicker({
                 todayBtn: "linked"
            });

            $('.submit').click(function(){
                $('.expense-form').submit();
            });
        </script>
    {% endblock js %}