<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="OSERP is an enterprise-class Open-Source ERP that is inspired by Quickbooks.">
        <meta name="keywords" content="erp, open source erp, open-source erp, enterprise class">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'erp_app/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'erp_app/css/fixed-width.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'erp_app/css/style.css' %}" />

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<div class="container">
		<div class="row">
			<nav class="col-xs-2">
				<a href="/"><img class="logo" src="{% static 'erp_app/img/logo.png' %}" alt="Logo Open Source ERP"><span class="logo-title">OSERP</span></a>
				<a><span class="glyphicon glyphicon-home white"></span><span class="nav-item">Home</span></a>
				<a><span class="glyphicon glyphicon-user white"></span><span class="nav-item">Customers</span></a>
				<a><span class="glyphicon glyphicon-shopping-cart white"></span><span class="nav-item">Orders</span></a>
				<a><span class="glyphicon glyphicon-th-list white"></span><span class="nav-item">Invoices</span></a>
				<a><span class="glyphicon glyphicon-tag white"></span><span class="nav-item">Products</span></a>
				<a><span class="glyphicon glyphicon-inbox white"></span><span class="nav-item">Suppliers</span></a>
				<a><span class="glyphicon glyphicon-phone white"></span><span class="nav-item">Employees</span></a>
				<a href="/expenses/"><span class="glyphicon glyphicon-download-alt white"></span><span class="nav-item">Expenses</span></a>
				<a><span class="glyphicon glyphicon-align-left white"></span><span class="nav-item">Reports</span></a>
				<a><span class="glyphicon glyphicon-book white"></span><span class="nav-item">Taxes</span></a>
			</nav>
			
			<section class="col-xs-7 main">
				<div class="main-content">
					<h2 class="main-title first">LEARN HOW TO USE OSERP</h2>
					<div class="glyphicon glyphicon-cog settings"></div>
					<div style="clear:both;"></div>
					<div class="learn-oserp">
						<a><div class="box learn-customers"><span>CUSTOMERS</span></div></a>
						<a><div class="box learn-orders"><span>ORDERS</span></div></a>
						<a><div class="box learn-expenses"><span>EXPENSES</span></div></a>
						<div style="clear:both;"></div>
					</div>
					<h2 class="main-title second">RECENT ORDERS</h2>
					<table class="table table_hp_orders">
						<tr>
							<th>Customer</th>
							<th>Invoice Number</th>
							<th>Delivery Due Date</th>
							<th>Amount Due</th>
						</tr>
					{% if empty_orders == False %}	
						{% for order in list_of_orders %}
						<tr>
		                    <td>{{ order.order.customer.company }}</td>
		                    <td>{{ order.order.invoice_number }}</td>
		                    <td>{{ order.order.delivery_due_date }}</td>
		                    <td>{{ order.product.price }}</td>
						</tr>
						{% endfor %}
					{% else %}
						<tr>
		                    <td> </td>
		                    <td> </td>
		                    <td> </td>
		                    <td> </td>
						</tr>
					{% endif %}
					</table>

					<h2 class="main-title second">RECENT EXPENSES</h2>
					
					<table class="table table_hp_orders">
						<tr>
							<th>Expense Name</th>
							<th>Description</th>
							<th>Date Paid</th>
							<th>Amount Paid</th>
						</tr>
						{% if empty_expenses == False %}	
							{% for expense in list_of_expenses %}
							<tr>
								<td>{{ expense.expense_name }}</td>
								<td>{{ expense.description }}</td>
								<td>{{ expense.date_paid }}</td>
								<td>{{ expense.amount_paid }}</td>
							</tr>
							{% endfor %}
						{% else %}
							<tr>
			                    <td> </td>
			                    <td> </td>
			                    <td> </td>
			                    <td> </td>
							</tr>
						{% endif %}
					</table>
				</div>
			</section>		
	
			<aside class="col-xs-3 sidebar">
				<div class="sb-content">
					<h3>Advertising, interesting information (e.g. markets) and extra options will go here</h3>
				</div>
			</aside>

		</div>
	</div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="{% static 'erp_app/js/bootstrap.js' %}"></script>
        <script src="{% static 'erp_app/js/main.js' %}"></script>
    </body>
</html>
